# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
host=localhost     # Хост для базы данных
user=username      # Имя пользователя базы данных
password=password  # Пароль базы данных
port=port  # Пароль базы данных
dbname=mydatabase    # Имя базы данных
